
/* #box{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

#LogInModal{
  color:black !important;
}

#SignUpModal{
  color:black !important;
}
/* image container with links and images */
 body {
  background: hsl(204 100% 5%);
/*   background: conic-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%),
    hsl(100 100% 60%)
  ) fixed; */
  color: rgb(221, 217, 217);
  /* min-block-size: 200vh; */
  /* min-inline-size: 100%; */
  /* padding: 5vmin; */
  box-sizing: border-box;
  display: fill ;
  place-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-size: min(200%, 5vmin); */
}

h1, p, body {
  margin: 0px;
}

h1 {
  font-size: 1vmin;
  line-height: 2;
  max-inline-size: 15ch;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size:3vmin;
  font-family: "Dank Mono", ui-monospace, monospace;
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;
}

html {
  block-size: 100%;
  inline-size: 100%;
  text-align: center;
  scroll-behavior: smooth;
}


.carousel-inner {
  min-width: 30%;
  max-width: 100%;
  flex-direction: row;
}

.card-img-overlay{
  border: solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(60deg,#b16ec4,#5f97b9);
}

.carousel-caption d-none d-md-block{
  right: 20%;
  left: 20%;
  padding-bottom: 30px;
}

